.field-container {
    margin-bottom: 20px;

    .required {
        user-select: none;
        color: #d00;
    }

    .input-wrapper {
        position: relative;
        display: block;

        .addon-wrapper {
            position: absolute;
            top: 0;
            right: 5px;
        }
    
        input {
            display: block;
            width: calc(100% - 32px);
            font-size: 14px;
            padding: 12px;
            margin-bottom: 4px;
        }
    }

    .error-span {
        color: rgb(215, 0, 0);
        font-size: 14px;
    }
}

.error-label {
    border: 1px #d00 solid;
}