.problem-box-wrapper {
    display: flex;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;

    .problem-statement {
        display: block;
        background: white;
        border: 1px solid #777;
        border-radius: 8px;
        padding: 2em;
        margin-right: 2em;
        width: 45%;

        h1 {
            font-family: Roboto;
            margin-top: 0;
        }
    }

    .feedback-container {
        width: 50%;
        font-family: Roboto;
        margin-left: auto;
    }

    .submit-test-container {
        padding-top: 1em;

        button {
            padding: 10px 25px;
            font-size: large;
            margin-bottom: 1em;
        }

        div {
            &:last-of-type {
                padding: 2em;
                border: 1px solid black;
                border-radius: 8px;
                width: auto;
                height: 20px;
            }
        }
    }
}