<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}CPCForge{% endblock %}</title>
		{% load static %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link
		  rel="stylesheet"
		  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
		/>
		<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />
	</head>
	<body>
		{% block content %}
		<div id="{{ content_id }}"></div>
		{{ page_context | json_script:'page-context' }}
		{% endblock %}

		<script src="{% static "main.js" %}"></script>
	</body>
</html>