.field-container {
    margin-bottom: 20px;

    input {
        display: block;
        width: calc(100% - 32px);
        font-size: 14px;
        padding: 12px;
        margin-bottom: 4px;
    }

    .error-span {
        color: rgb(215, 0, 0);
        font-size: 14px;
    }
}

.error-label {
    border: 1px #d00 solid;
}